*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
.idea/ktfmt.xml
.idea/gradle.xml
.idea/migrations.xml
.idea/misc.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/compiler.xml
app/src/main/.idea/misc.xml
app/src/main/.idea/modules.xml
app/src/main/.idea/vcs.xml
.idea/compiler.xml
.idea/misc.xml
